<h3>All Cards</h3>


<div class="dropdown">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Sort by:
  <span class="selection"></span><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a {{action 'all' 'selectOption'}}>All</a></li>
      <li><a {{action 'class' 'selectOption'}}>Class</a></li>
      <li><a {{action 'rarity' 'selectOption'}}>Rarity</a></li>
      <li><a {{action 'cost' 'selectOption'}}>Cost</a></li>
      <li><a {{action 'set' 'selectOption'}}>Set</a></li>
    </ul>
</div>

<br>

    {{#if classCards}}
      {{card-list-by-class session=session cards=sortedCards user=user addCard="addCard"}}
    {{else if allCards}}
      {{card-list-all session=session cards=sortedCards user=user addCard="addCard"}}
    {{else if rarityCards}}
      {{card-list-by-rarity session=session cards=sortedCards user=user addCard="addCard"}}
    {{else if setCards}}
      {{card-list-by-set session=session cards=sortedCards user=user addCard="addCard"}}
    {{else if costCards}}
      {{card-list-by-cost session=session cards=sortedCards user=user addCard="addCard"}}
    {{/if}}
