<p>Number of total playable cards: {{totalPlayable}} ({{totalPlayablePercentage}} %)</p>
<p>Number of total unique cards: {{totalUnique}} ({{totalUniquePercentage}} %)</p>
<p>Number of total basic cards: {{totalBasic}} ({{totalBasicPercentage}} %)</p>
<p>Number of total common cards: {{totalCommon}} ({{totalCommonPercentage}} %)</p>
<p>Number of total rare cards: {{totalRare}} ({{totalRarePercentage}} %)</p>
<p>Number of total epic cards: {{totalEpic}} ({{totalEpicPercentage}} %)</p>
<p>Number of total legendary cards: {{totalLegendary}} ({{totalLegendaryPercentage}} %)</p>
<hr>
