{{#if session.isAuthenticated}}
<p>You are Signed In!</p>
<div id="index-image">
  <img src="assets/images/spin.gif">
</div>
<p>{{#link-to 'index'}}Go Home{{/link-to}}</p>
{{else}}
<form>
  {{#if signUp}}
  <h3>Sign Up</h3>
  <div id="username">
    <label for="username">Username</label>
    {{input value=username id=username}}
  </div>
  {{else}}
  <h3 id="login-header">Login</h3>
  {{/if}}

  <div id="email">
    <label for="email">Email</label>
    {{input value=email id=email}}
  </div>

  <div id="password">
    <label for="password">Password</label>
    {{input value=password id=password type="password"}}
  </div>

<div id="sign-in-buttons">
  {{#if signUp}}
  <button {{action 'addUser'}}>Sign Up</button>
  <button {{action 'hideSignUp'}}>Login</button>
  {{else}}
  <button {{action 'login'}}>Login</button>
  <button {{action 'showSignUp'}}>Sign Up</button>
  {{/if}}
</div>

</form>
{{/if}}
