{{#if session.isAuthenticated}}
<p>You are Signed In!</p>
<p>{{#link-to 'index'}}Go Home{{/link-to}}</p>
{{else}}
<form>
  {{#if signUp}}
  <h3>Sign Up</h3>
  <div>
    <label for="username">Username</label>
    {{input value=username id=username}}
  </div>
  {{else}}
  <h3>Login</h3>
  {{/if}}

  <div>
    <label for="email">Email</label>
    {{input value=email id=email}}
  </div>

  <div>
    <label for="password">Password</label>
    {{input value=password id=password type="password"}}
  </div>

  {{#if signUp}}
  <button {{action 'addUser'}}>Sign Up</button>
  <button {{action 'hideSignUp'}}>Login</button>
  {{else}}
  <button {{action 'login'}}>Login</button>
  <button {{action 'showSignUp'}}>Sign Up</button>
  {{/if}}

</form>
{{/if}}
