<div class="sort-box">
  <p>Sort by Set:
  <a {{action 'setCardSet' ""}} class="set-link active">All</a> <a {{action 'setCardSet' "Classic"}} class="set-link">Classic</a> <a {{action 'setCardSet' "Naxxramas"}} class="set-link">Naxx</a> <a {{action 'setCardSet' "Goblins vs Gnomes"}} class="set-link">GVG</a> <a {{action 'setCardSet' "Blackrock Mountain"}} class="set-link">BRM</a> <a {{action 'setCardSet' "The Grand Tournament"}} class="set-link">TGT</a></p>

  <p>Sort by Class:
  <a {{action 'setCardClass' "All"}} class="class-link active">All</a> <a {{action 'setCardClass' ""}} class="class-link">Neutral</a> <a {{action 'setCardClass' "Druid"}} class="class-link">Druid</a> <a {{action 'setCardClass' "Hunter"}} class="class-link">Hunter</a> <a {{action 'setCardClass' "Mage"}} class="class-link">Mage</a> <a {{action 'setCardClass' "Paladin"}} class="class-link">Paladin</a> <a {{action 'setCardClass' "Priest"}} class="class-link">Priest</a> <a {{action 'setCardClass' "Rogue"}} class="class-link">Rogue</a> <a {{action 'setCardClass' "Shaman"}} class="class-link">Shaman</a> <a {{action 'setCardClass' "Warlock"}} class="class-link">Warlock</a> <a {{action 'setCardClass' "Warrior"}} class="class-link">Warrior</a></p>
</div>
<div>
  <form id="cardSearchField" class="form" role="search">
    <div class="">
      {{input value=cardSearch class="form-control" placeholder="Search Cards"}}
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">

    {{#each filteredCards as |card|}}
      {{my-collection-card addCard="addCard" join=join cardusers=cardusers session=session card=card}}
    {{/each}}
    <!-- {{#each join as |joinItem|}}
      {{my-collection-card addCard="addCard" join=join joinItem=joinItem session=session card=joinItem.card}}
    {{/each}} -->
  </div>
</div>
