<div class="container-fluid">
  <p>Sort by: <a {{action 'all'}}>All</a> <a {{action 'class'}}>Class</a> <a {{action 'rarity'}}>Rarity</a> <a {{action 'set'}}>Set</a> <a {{action 'cost'}}>Cost</a></p>
  <div class="row">
    {{#each join as |joinItem|}}
      {{my-collection-card addCard="addCard" join=join joinItem=joinItem session=session card=joinItem.card}}
    {{/each}}
  </div>
</div>


{{#if classCards}}
  {{my-collection-by-class session=session cards=sortedCards user=user join=join addCard="addCard"}}
{{else if allCards}}
  {{card-list-all session=session cards=sortedCards user=user addCard="addCard"}}
{{else if rarityCards}}
  {{card-list-by-rarity session=session cards=sortedCards user=user addCard="addCard"}}
{{else if setCards}}
  {{card-list-by-set session=session cards=sortedCards user=user addCard="addCard"}}
{{else if costCards}}
  {{card-list-by-cost session=session cards=sortedCards user=user addCard="addCard"}}
{{/if}}
